body {
	font-family: Arial, sans-serif;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	background-color: var(--bg-color);
	position: relative;
	overflow: hidden; /* Ensure no overflow from trees */
	transition: background-image 0.8s, opacity 0.5s ease; /* Smooth transitions */
}

.toggle-container {
	position: absolute;
	top: 10px;
	right: 10px;
	z-index: 1000;
}

.toggle {
	position: relative;
	width: 60px;
	height: 30px;
	background-color: var(--toggle-bg-color);
	border-radius: 15px;
	display: flex;
	align-items: center;
	padding: 0 3px;
	cursor: pointer;
	transition: background-color 0.5s ease;
}

.toggle-input {
	display: none;
}

.toggle-label {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	height: 100%;
	position: relative;
	z-index: 2;
}

.toggle-handle {
	position: absolute;
	top: 1.5px;
	left: 1.5px;
	width: 27px;
	height: 27px;
	background-color: transparent;
	border-radius: 50%;
	transition: transform 0.3s ease-in-out;
	z-index: 1;
	background-image: url('../images/moon.png');
	background-size: cover;
}

.toggle-input:checked + .toggle-label .toggle-handle {
	transform: translateX(24px);
	background-image: url('../images/sun.png');
	background-size: cover;
}

.main-container {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 20px;
	position: relative;
	z-index: 1; /* Ensure login box is above trees */
	padding: 20px; /* Add padding to create space around content */
	border-radius: 8px; /* Add border radius for rounded corners */
	margin-right: 50px;
}

body.light-mode .main-container {
	background-color: #f0f0f0; /* Light mode background color */
}

body.dark-mode .main-container {
	background-color: #151515; /* Dark mode background color */
}

.login-container,
.register-container {
	width: 300px;
	height: auto;
	position: relative;
	z-index: 1; /* Ensure login box is above trees */
}

.login-box,
.register-box {
	padding: 20px;
}

.login-title,
.register-title {
	text-align: center;
	margin-bottom: 20px;
	font-size: 24px;
	color: var(--text-color);
}

.input-group {
	margin-bottom: 15px;
}

.input-group label {
	display: block;
	margin-bottom: 5px;
	color: var(--text-color);
}

.input-group input {
	width: 100%;
	padding: 10px;
	border: 1px solid #ddd;
	border-radius: 4px;
	background-color: var(--input-bg-color);
	color: var(--input-text-color);
}

.login-button,
.register-button {
	width: 100%;
	padding: 10px;
	background-color: #ff0066;
	color: #fff;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	font-size: 16px;
}

.login-button:hover,
.register-button:hover {
	background-color: #be004c;
}

body.light-mode {
	--bg-color: #c0c0c0;
	--text-color: #333;
	--input-bg-color: #fff;
	--input-text-color: #333;
	--toggle-bg-color: #707070;
	/* background-image: url('images/Day.jpg'); Background for light mode */
	background-size: cover; /* Ensure night image covers the entire background */
	background-position: center; /* Center the background image */
	opacity: 0.9;
}

body.dark-mode {
	--bg-color: #333;
	--text-color: #fff;
	--input-bg-color: #555;
	--input-text-color: #fff;
	--toggle-bg-color: #fff673;
	/* background-image: url('images/Night.jpg'); Background for dark mode */
	background-size: cover; /* Ensure night image covers the entire background */
	background-position: center; /* Center the background image */
	opacity: 0.8;
}
